.implement .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.implement__info {
    max-width: 445px;
}

.implement__heading {
    font-family: "DM Serif Display";
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 56px;
    letter-spacing: -0.369231px;
    color: #36536B;
    margin-bottom: 24px;
}

.implement__text {
    font-weight: normal;
    font-size: 15px;
    line-height: 28px;
    color: #36536B;
    mix-blend-mode: normal;
    opacity: 0.7;
}

@media only screen and (max-width: 768px) {
    .implement .container {
        flex-direction: column;
    }

    .implement__img {
        margin-bottom: 48px;
    }

    .implement__info {
        text-align: center;
    }

}

@media only screen and (max-width: 465px) {
    .implement {
        .implement__img {
            margin: 0px;
            margin-bottom: 30px;
        }
    }

    .implement__heading {
        font-size: 36px;
        line-height: 36px;
    }

    .implement__text {
        width: 328px;
    }
}